body, html{
	
}
.banner{
	background-image: url("../img/ban.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}
span.a{

	display: inline-block;
	width: 217px;
	height: 100px;
	background: white;
	border: 1px solid black;
	text-align: center;
	font-size: 24px;
	border-radius: 20px;
}
span.b{
	position: relative;
	display: block;
	width: 100px;
	height: 167px;
	background: white;
	border: 1px solid black;
	text-align: center;
	font-size: 24px;
	border-radius: 20px;
	left: 91.2%;
}
span.c{
	position: relative;
	display: inline-block;
	width: 217px;
	height: 100px;
	background: white;
	border: 1px solid black;
	text-align: center;
	font-size: 24px;
	border-radius: 20px;
}
b{
	position: relative;
	top: 30px;
	
}
strong{
	position: relative;
	top: 75px;
}
span{	
	background: white;
	vertical-align: center;
}
span.a:hover{
	
	background: #e6e6e6;
	box-shadow: 0 8px 10px 0 rgba(0,0,0,0.2);
}
span.b:hover{
	
	background: #e6e6e6;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
span.c:hover{
	
	background: #e6e6e6;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card{
  position: absolute;
  display: flex;
  text-align: center;
  bottom: 270px;
  left: 20px;		
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  background: white;
  width: 30%;
}
p{
	display: inline-block;
}
.card_1{
  position: absolute;
  bottom: 270px;
  left: 880px;		
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  background: white;
  width: 20%;
  height: 30%;
}


.card:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container{
  padding: 10px 16px;
}

button{
	position: relative;
	left: 80px;
	top: 50px;
	background: blue;
	font-size: 18px;
	border-radius: 5px;
	width: 120px;
	height: 40px;
	color: white;
}
